$title-font: Lobster Two, cursive;
$subtitle-font: DM Sans, sans-serif;
$correctBoth-color: #07b975;
$correctOne-color: #e07a5f;
$correctNone-color: #b8b9bb;
$column-color: #36393a;

body {
  font-size: 16px;
}

nav {
  h1 {
    font-family: $title-font;
    font-size: 3rem;
  }
  .collapse {
    display: flex;
    justify-content: center;
  }
}

section {
  max-height: 100vh;
  .row.alert {
    height: 9vh;
    margin-bottom: 0;
    .col.note {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      color: #fff;
      border-radius: 0.3rem;
      text-align: center;
      padding: 0.3rem;
      background-color: #db458b;
      display: none;
    }
  }
  .container.guess {
    .row {
      .col.alphabet {
        border: 2px solid #dcdfe4;
        border-radius: 0.2rem;
        height: 4rem;
        width: 4rem;
        margin: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        p.guessed-alphabet-style {
          color: $column-color;
          font-size: 3.5rem;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      .col.alphabet.correctBoth {
        border: 2px solid #37565a;
        background-color: $correctBoth-color;

        p {
          color: #fff;
          font-size: 4rem;
        }
      }
      .col.alphabet.correctOne {
        border: 2px solid #37565a;
        background-color: $correctOne-color;
        p {
          color: #fff;
          font-size: 4rem;
        }
      }
      .col.alphabet.correctNone {
        border: 2px solid #37565a;
        background-color: $correctNone-color;
        p {
          color: #fff;
          font-size: 4rem;
        }
      }
    }
  }
  .container.keyboard {
    .row {
      .col {
        background-color: $correctNone-color;
        color: #fff;
        height: 3rem;
        width: 3rem;
        margin: 0.1rem;
        border-radius: 0.2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: block;
          font-size: 1rem;
          font-weight: 500;
        }
      }

      .col:hover {
        cursor: pointer;
        box-shadow: 1px 1px 2px #a19c9c;
        background-color: #7e7e80;
        transform: scale(1.1);
        transition: ease-out 0.2s;
      }
      .col.checked {
        background-color: #444444;
      }
      .col.enter {
        width: 4.5rem;
      }
      .col.backspace {
        width: 4.5rem;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .container.keyboard {
    .row {
      .col.alphabet {
        height: 3rem;
        width: 2rem;
      }
      .col.col.enter {
        height: 3rem;
        width: 3.5rem;
      }
      .col.col.backspace {
        height: 3rem;
        width: 3.5rem;
      }
    }
  }
}

//Modals

#instructionModal {
  h5 {
    text-align: center;
    font-family: $subtitle-font;
    font-size: 2rem;
  }
  h6 {
    font-size: 1.5rem;
  }
  .column {
    border: 2px solid #dcdfe4;
    border-radius: 0.2rem;
    height: 4rem;
    width: 4rem;
    margin: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $column-color;
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .column.correct {
    border: 2px sooid $column-color;
    background-color: $correctBoth-color;
    color: #fff;
  }
  .column.mi-correct {
    border: 2px sooid $column-color;
    background-color: $correctOne-color;
    color: #fff;
  }
  .column.wrong {
    border: 2px sooid $column-color;
    background-color: $correctNone-color;
    color: #fff;
  }
}

#statisticModal {
  h5 {
    text-align: center;
    font-size: 2rem;
    font-family: $subtitle-font;
  }
  .records {
    text-align: center;
    h6 {
      display: block;
    }
    span {
      display: block;
    }
  }
}
