$title-font: Lobster Two, cursive;

body {
  font-size: 16px;
}

nav {
  h1 {
    font-family: $title-font;
    font-size: 3rem;
  }
  .collapse {
    display: flex;
    justify-content: center;
  }
}

section {
  max-height: 100vh;
  .row.alert {
    margin-bottom: 0;
    .col.answer {
      font-size: 1.5rem;
      color: #fff;
      border-radius: 0.3rem;
      text-align: center;
      padding: 0.3rem;
      background-color: #07b975;
      display: none;
    }
  }
  .container.guess {
    .row {
      .col.alphabet {
        border: 2px solid #dcdfe4;
        border-radius: 0.2rem;
        height: 4rem;
        width: 4rem;
        margin: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        p.guessed-alphabet-style {
          color: #6c757d;
          font-size: 3.5rem;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      .col.alphabet.correctBoth {
        border: 2px solid #6c757d;
        background-color: #07b975;

        p {
          color: #fff;
          font-size: 4rem;
        }
      }
      .col.alphabet.correctOne {
        border: 2px solid #6c757d;
        background-color: #e07a5f;
        p {
          color: #fff;
          font-size: 4rem;
        }
      }
      .col.alphabet.correctNone {
        border: 2px solid #6c757d;
        background-color: #b8b9bb;
        p {
          color: #fff;
          font-size: 4rem;
        }
      }
      .col.alphabet.correctNone {
        border: 2px solid #6c757d;
        background-color: #b8b9bb;

        p {
          color: #fff;
          font-size: 4rem;
        }
      }
    }
  }
  .container.keyboard {
    .row {
      .col {
        background-color: #b8b9bb;
        color: #fff;
        height: 3rem;
        width: 3rem;
        margin: 0.1rem;
        border-radius: 0.2rem;
        text-align: center;

        span {
          display: inline-block;
          font-size: 1rem;
          font-weight: 500;
        }
      }
      .col::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
      }
      .col:hover {
        cursor: pointer;
        box-shadow: 1px 1px 2px #a19c9c;
        background-color: #7e7e80;
      }
      .col.checked {
        background-color: #444444;
      }
      .col.enter {
        width: 4.5rem;
      }
      .col.backspace {
        width: 4.5rem;
      }
    }
  }
}
