body {
  font-size: 16px;
}

nav h1 {
  font-family: Lobster Two, cursive;
  font-size: 3rem;
}

nav .collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  max-height: 100vh;
}

section .row.alert {
  height: 9vh;
  margin-bottom: 0;
}

section .row.alert .col.note {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 0.3rem;
  text-align: center;
  padding: 0.3rem;
  background-color: #db458b;
  display: none;
}

section .container.guess .row .col.alphabet {
  border: 2px solid #dcdfe4;
  border-radius: 0.2rem;
  height: 4rem;
  width: 4rem;
  margin: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .container.guess .row .col.alphabet p.guessed-alphabet-style {
  color: #36393a;
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

section .container.guess .row .col.alphabet.correctBoth {
  border: 2px solid #37565a;
  background-color: #07b975;
}

section .container.guess .row .col.alphabet.correctBoth p {
  color: #fff;
  font-size: 4rem;
}

section .container.guess .row .col.alphabet.correctOne {
  border: 2px solid #37565a;
  background-color: #e07a5f;
}

section .container.guess .row .col.alphabet.correctOne p {
  color: #fff;
  font-size: 4rem;
}

section .container.guess .row .col.alphabet.correctNone {
  border: 2px solid #37565a;
  background-color: #b9babc;
}

section .container.guess .row .col.alphabet.correctNone p {
  color: #fff;
  font-size: 4rem;
}

section .container.keyboard .row .col {
  background-color: #b9babc;
  color: #fff;
  height: 3rem;
  width: 3rem;
  margin: 0.1rem;
  border-radius: 0.2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .container.keyboard .row .col span {
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

section .container.keyboard .row .col:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px #a19c9c;
          box-shadow: 1px 1px 2px #a19c9c;
  background-color: #7e7e80;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

section .container.keyboard .row .col.checked {
  background-color: #444444;
}

section .container.keyboard .row .col.enter {
  width: 4.5rem;
}

section .container.keyboard .row .col.backspace {
  width: 4.5rem;
}

@media screen and (max-width: 450px) {
  .container.keyboard .row .col.alphabet {
    height: 3rem;
    width: 2rem;
  }
  .container.keyboard .row .col.col.enter {
    height: 3rem;
    width: 3.5rem;
  }
  .container.keyboard .row .col.col.backspace {
    height: 3rem;
    width: 3.5rem;
  }
}

#instructionModal h5 {
  text-align: center;
  font-family: DM Sans, sans-serif;
  font-size: 2rem;
}

#instructionModal h6 {
  font-size: 1.5rem;
}

#instructionModal .column {
  border: 2px solid #dcdfe4;
  border-radius: 0.2rem;
  height: 4rem;
  width: 4rem;
  margin: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #36393a;
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

#instructionModal .column.correct {
  border: 2px sooid #36393a;
  background-color: #07b975;
  color: #fff;
}

#instructionModal .column.mi-correct {
  border: 2px sooid #36393a;
  background-color: #e07a5f;
  color: #fff;
}

#instructionModal .column.wrong {
  border: 2px sooid #36393a;
  background-color: #b9babc;
  color: #fff;
}

#statisticModal h5 {
  text-align: center;
  font-size: 2rem;
  font-family: DM Sans, sans-serif;
}

#statisticModal .records {
  text-align: center;
}

#statisticModal .records h6 {
  display: block;
}

#statisticModal .records span {
  display: block;
}

#logging h5 {
  text-align: center;
  font-size: 2rem;
  font-family: DM Sans, sans-serif;
}

#logging input {
  width: 50%;
}

#rankModal h5 {
  text-align: center;
  font-family: DM Sans, sans-serif;
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */